<h1>Menú empleados</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Empleados"
           asp-action="IncrementarSalarios">Incrementar salarios</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Empleados"
           asp-action="EmpleadosDepartamentoLambda">
        Departamentos Lambda
        </a>
    </li>
</ul>
