<h1>Doctores Controller</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Doctores"
           asp-action="UpdateDoctoresEspecialidad">
            Procedimiendo doctor Especialidad
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Doctores"
           asp-action="ModificarSalarioDoctoresEspecialidad">
            Procedimiendo Salarios Especialidad
        </a>
    </li>
</ul>
